body {
  background-color: #849d8f;
  color: #ffffff;
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 22px;
}
a {
  color: inherit;
  text-decoration: underline;
}
a:hover,
a:focus,
a:active {
  color: #ffbc9e;
}
a.td-n {
  text-decoration: none;
}
.darktext {
  color: #323232;
}
.darktext a:hover,
.darktext a:focus,
.darktext a:active {
  color: #e84d37;
}
.popover {
  color: #323232;
  background-color: #f8f7f4;
  border-radius: 5px;
  box-shadow: 0px 20px 20px 0 rgba(0, 0, 0, 0.4);
  overflow: hidden;
  position: absolute;
  z-index: 5;
  display: none;
}
.popover.shown,
.popover-trigger:hover .popover {
  display: block;
}
.button {
  background-color: #e74a35;
  background-image: linear-gradient(to top, #ca3824, #f26843);
  border: none;
  border-radius: 23px;
  box-shadow: 0px 2px 2px 0 rgba(85, 8, 0, 0.54);
  color: #ffffff;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  margin: 0;
  outline: none;
  padding: 11px 24px;
  text-decoration: none;
}
.button.big {
  border-radius: 32px;
  font-size: 32px;
  line-height: 44px;
  padding: 10px 42px;
  text-shadow: 0px 2px 5px rgba(160, 32, 11, 0.76);
}
.button:hover,
.button:focus {
  background-color: #f26843;
  box-shadow: 0px 1px 2px 0 #ac1000;
  background-image: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0.2),
      rgba(255, 255, 255, 0.2)
    ),
    linear-gradient(to top, #e74a35, #f26843);
  color: #ffffff;
}
.button:active {
  background-color: #ca3824;
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.07),
      rgba(0, 0, 0, 0.07)
    ),
    linear-gradient(to bottom, #e74a35, #f26843);
  box-shadow: inset 0px 2px 2px 0 #942718;
  color: #ffffff;
}
.darktext .button:hover,
.darktext .button:focus,
.darktext .button:active {
  color: #ffffff;
}
.input {
  border: 1px solid rgba(178, 178, 178, 0.52);
  padding: 12px 15px 11px 15px;
  font-size: 16px;
  line-height: 16px;
  border-radius: 5px;
  color: #323232;
  font-weight: 700;
}
.input::-webkit-input-placeholder {
  color: #999999;
  font-weight: 400;
}
.input:-moz-input-placeholder {
  color: #999999;
  font-weight: 400;
}
.input::-ms-input-placeholder {
  color: #999999;
  font-weight: 400;
}
.input:hover,
.input:focus {
  border: 2px solid rgba(154, 154, 154, 0.52);
  outline: none;
  margin: -1px;
}
.input:focus {
  border-color: rgba(46, 136, 228, 0.52);
}
.price span {
  font-size: 66.66%;
}
.visually-hidden {
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  position: absolute;
  width: 1px;
}
.wrapper {
  max-width: 1146px;
  margin: auto;
  padding: 0 27px;
  overflow: hidden;
  position: relative;
}
.header {
  padding: 9px 0;
}
.header-logo img {
  display: block;
}
.header-nav {
  display: flex;
  justify-content: space-between;
}
.header-nav-main a,
.header-nav-search > a,
.header-nav-auth > a,
.header-nav-cart > a {
  border-radius: 16px;
  color: #ffffff;
  display: block;
  font-weight: bold;
  line-height: 18px;
  padding: 7px 14px;
}
.header-nav a.active {
  background-color: #d07058;
  text-decoration: none;
}
.header-nav-main a:hover,
.header-nav-search > a:hover,
.header-nav-auth > a:hover,
.header-nav-cart > a:hover,
.header-nav-main a:focus,
.header-nav-search > a:focus,
.header-nav-auth > a:focus,
.header-nav-cart > a:focus {
  background-color: #f7f6f3;
  color: #323232;
  outline: none;
  text-decoration: none;
}

.header-nav-main a:active,
.header-nav-search > a:active,
.header-nav-auth > a:active,
.header-nav-cart > a:active {
  background-color: #ededed;
  box-shadow: inset 0px 2px 1px 0 #696969;
  text-decoration: none;
}
.header-nav-main,
.header-nav-user {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}
.header-nav-main {
  padding: 14px 0 0 9px;
}
.header-nav-user {
  font-size: 14px;
  margin-left: auto;
  padding-top: 14px;
}
.header-nav-user > li {
  margin-left: 10px;
  position: relative;
}
.header-nav-user .popover {
  padding: 20px 15px;
  right: 0;
  top: 36px;
}
.header-nav-search {
  position: relative;
}
.header-nav-search > a {
  background: rgba(255, 255, 255, 0.2) url("../img/search.svg") no-repeat 50%
    49%;
  height: 32px;
  padding: 0;
  width: 32px;
}
.header-nav-search > a:hover,
.header-nav-search > a:focus {
  background-image: url("../img/search-hover.svg");
}
.header-search {
  width: 311px;
}
.header-search .input {
  width: 100%;
}
.header-nav-auth > a {
  background: rgba(255, 255, 255, 0.2) url("../img/log-in.svg") no-repeat 17px
    49%;
  padding: 7px 17px;
  text-decoration: none;
  text-indent: 27px;
}
.header-nav-auth > a:hover,
.header-nav-auth > a:focus {
  background-image: url("../img/log-in-hover.svg");
}
.header-auth {
}
.header-auth form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 241px;
}
.header-auth .input {
  flex: 1;
  margin-bottom: 20px;
}
.header-auth .input:hover,
.header-auth .input:focus,
.header-auth .input:active {
  margin-bottom: 19px;
}
.header-auth-options {
  font-size: 13px;
  line-height: 24px;
}
.header-nav-cart > a {
  background: rgba(255, 255, 255, 0.2) url("../img/cart.svg") no-repeat 16px 50%;
  padding: 7px 17px;
  text-decoration: none;
  text-indent: 27px;
}
.header-nav-cart > a:hover,
.header-nav-cart > a:focus {
  background-image: url("../img/cart-hover.svg");
}
.header-nav-cart > a.notempty {
  background-image: url("../img/cart-red.svg");
  color: #323232;
  background-color: #f8f7f4;
}
.header-cart {
}
.header-cart ul {
  border-bottom: 1px solid #cacac7;
  list-style: none;
  margin: 0;
  padding: 0;
}
.cart-item {
  display: flex;
  width: 510px;
  padding: 10px 0 20px 0;
  font-size: 13px;
  line-height: 16px;
}
.cart-item button {
  flex: 0 0 11px;
  width: 11px;
  height: 11px;
  margin: 0 15px 0 0;
  padding: 0;
  border: none;
  background: url("../img/cart_remove.svg") no-repeat 0;
}
.cart-item img {
  display: block;
  margin-right: 14px;
  margin-top: -10px;
}
.cart-item-name {
  flex: 1;
}
.cart-item-price {
  flex: 0 0 120px;
}
.cart-item-price span {
  color: rgba(0, 0, 0, 0.4);
}
.cart-item-total {
  flex: 0 0 70px;
}
.header-cart-total {
  font-size: 15px;
  line-height: 18px;
  font-weight: 700;
  padding-top: 14px;
  text-align: right;
}
.header-cart-order {
  display: flex;
  justify-content: flex-end;
  padding-top: 14px;
}
.header-nav-catalog {
  position: relative;
}
.header-nav-catalog:hover .header-nav-catalog-inner {
  display: block;
}
.header-nav-catalog-inner {
  list-style: none;
  margin: 5px 0 0 -7px;
  padding: 0;
}
.header-nav-catalog-inner a,
.header-nav-catalog-inner span {
  padding: 6px 21px;
  color: inherit;
  display: block;
  border-radius: 0;
  font-size: 14px;
  font-weight: 400;
  text-decoration: none;
  white-space: nowrap;
}
.header-nav-catalog-inner a:hover,
.header-nav-catalog-inner a:focus {
  background-color: #fbded7;
}
.header-nav-catalog-inner a:active {
  background-color: #f6b5a5;
  box-shadow: none;
}
.header-nav-catalog-inner .active {
  background-color: #d07058;
  color: #ffffff;
}
.header-nav-catalog-inner .super {
  font-weight: 700;
  position: relative;
  margin-bottom: 1px;
}
.header-nav-catalog-inner .super::after {
  height: 1px;
  content: "";
  position: absolute;
  right: 7px;
  left: 7px;
  bottom: -1px;
  background: #323232;
  opacity: 0.2;
}
.schedule {
  font-size: 14px;
  font-weight: bold;
  line-height: 16px;
  text-align: right;
}
.schedule a {
  color: inherit;
  font-size: 22px;
  line-height: 34px;
  text-decoration: none;
}
.breadcrumbs {
  font-size: 14px;
  line-height: 16px;
  margin-bottom: 4px;
  margin-top: -33px;
}
.breadcrumbs ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}
.breadcrumbs li {
  margin-right: 7px;
}
.breadcrumbs li:not(:first-child)::before {
  content: "\00bb";
  margin-right: 7px;
}
.pagetitle {
  font-size: 35px;
  font-weight: 700;
  line-height: 41px;
  margin: 0;
  padding-bottom: 27px;
}
.carousel {
  font-size: 60px;
  font-weight: 700;
  line-height: 60px;
  list-style: none;
  margin: 0;
  padding: 0;
}
.carousel-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  width: 100%;
}
.carousel-item {
  flex: 0 0 100%;
  height: 515px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  transition: margin-left 500ms;
}
.carousel-item p {
  margin: 0 auto 30px auto;
  padding: 0;
  width: 670px;
  text-align: center;
}
.carousel-item img {
  position: absolute;
  z-index: -1;
  top: 0;
  margin: auto;
}
.carousel-item .button {
  margin-bottom: 41px;
}
.carousel-nav {
  position: absolute;
  top: 532px;
  left: 27px;
}
.carousel-nav button {
  height: 22px;
  width: 22px;
  border-radius: 50%;
  border: 2px solid #ffffff;
  margin: 0 7px 0 0;
  padding: 0;
  background: none;
  cursor: pointer;
}
.carousel-nav button:hover,
.carousel-nav button:focus {
  background: rgba(248, 247, 244, 0.4);
  outline: none;
}
.carousel-nav button.active {
  background: #ffffff;
}
.filter {
  margin-bottom: 39px;
}
.filter-row {
  display: flex;
  margin-bottom: 16px;
  align-items: flex-start;
}
.filter label,
.filter .label {
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  padding-left: 16px;
  margin-bottom: 4px;
}
.filter select {
  -webkit-appearance: none;
  background: rgba(255, 255, 255, 0.2) url("../img/dropdown.svg") no-repeat
    right 15px top 50%;
  border: none;
  border-radius: 19px;
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
  height: 37px;
  line-height: 16px;
  padding: 0 31px 0 16px;
}
.filter select:hover,
.filter select:focus {
  background-image: url("../img/dropdown-hover.svg");
  color: #323232;
  outline: none;
}
.filter-group {
  background: rgba(255, 255, 255, 0.2);
  border: none;
  padding: 8px 19px 7px 16px;
  margin: 20px 0 0 0;
  position: relative;
  border-radius: 19px;
}
.filter-group legend {
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  position: absolute;
  top: -20px;
  left: 15px;
}
.filter-group label {
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
  margin-right: 17px;
  padding-left: 32px;
  position: relative;
}
.filter-group label:last-of-type {
  margin-right: 0;
}
.filter-group label::before,
.filter-group label::after {
  opacity: 0.8;
}
.filter-group label:hover::before,
.filter-group label:focus::before,
.filter-group label:hover::after,
.filter-group label:focus::after {
  opacity: 1;
}
.filter input[type="checkbox"] + label::before {
  display: block;
  content: "";
  width: 24px;
  height: 20px;
  background: url("../img/checkbox-off.svg") no-repeat 0 0;
  position: absolute;
  top: 0;
  left: 0;
}
.filter input[type="checkbox"]:checked + label::before {
  background-image: url("../img/checkbox-on.svg");
}
.filter input[type="radio"] + label {
  padding-left: 29px;
}
.filter input[type="radio"] + label::before {
  display: block;
  content: "";
  width: 24px;
  height: 20px;
  position: absolute;
  top: -1px;
  left: -1px;
  height: 14px;
  width: 14px;
  border-radius: 50%;
  border: 4px solid #ffffff;
}
.filter input[type="radio"]:checked + label::after {
  background: #ffffff;
  border-radius: 50%;
  content: "";
  height: 8px;
  width: 8px;
  display: block;
  position: absolute;
  top: 6px;
  left: 6px;
}
.filter-sort {
  display: flex;
  flex-direction: column;
  margin-right: 13px;
}
.filter-sort select {
  width: 194px;
}
.filter-price {
  margin-right: 13px;
  width: 220px;
}
.range {
  background: rgba(255, 255, 255, 0.2);
  border: none;
  padding: 17px 22px 16px 22px;
  position: relative;
  border-radius: 19px;
}
.range-bar {
  display: flex;
  height: 4px;
  background-color: rgba(247, 247, 245, 0.5);
  margin: auto;
}
.range-bar span {
  width: 74px;
  background-color: #ffffff;
}
.range-bar button {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  padding: 0;
  margin: -8px 0 -8px 0;
  border: none;
  background: #849d8f;
  box-shadow: inset 0 0 0 8px #ffffff;
}
.filter-submit {
  border: none;
  border-radius: 118px;
  font-size: 16px;
  line-height: 19px;
  padding: 9px 30px;
  background: rgba(255, 255, 255, 0.15);
  color: #ffffff;
  box-shadow: inset 0 0 0 2px #ffffff;
  font-weight: 500;
  margin: 21px 0 0 14px;
  height: 37px;
}
.filter-submit:hover,
.filter-submit:focus {
  background: #ffffff;
  color: #323232;
  outline: none;
}
.filter-submit:active {
  background: #ededed;
  box-shadow: inset 0px 2px 1px 0 #696969;
}
.category-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}
.category-item {
  flex: 0 0 251px;
  font-size: 16px;
  line-height: 22px;
  margin-bottom: 38px;
  padding: 0 8px;
  position: relative;
  text-align: center;
}
.category-item img {
  border-radius: 50%;
  display: block;
  margin: 0 -8px 13px -8px;
}
.category-item .price {
  font-size: 45px;
  font-weight: 700;
  line-height: 45px;
  left: -2px;
  position: absolute;
  text-shadow: 0.5px 0.9px 3px rgba(49, 50, 53, 0.5);
  top: 210px;
  word-spacing: -7px;
}
.category-item .button {
  display: none;
}
.category-item:hover {
  z-index: 1;
}
.category-item:hover::before {
  display: block;
  content: "";
  opacity: 0.2;
  box-shadow: 0px 20px 20px 0 rgba(0, 0, 0, 0.4);
  background-color: #f8f7f4;
  position: absolute;
  top: -6px;
  right: -14px;
  bottom: -77px;
  left: -13px;
  border-radius: 5px;
  z-index: -1;
}
.category-item:hover .button {
  display: block;
  padding-right: 0;
  padding-left: 0;
  position: absolute;
  bottom: -55px;
  right: 0;
  left: 0;
  width: 200px;
  margin: auto;
}
.specialoffers {
}
.specialoffers-list {
  display: flex;
  font-size: 18px;
  font-weight: bold;
  justify-content: space-between;
  line-height: 22px;
  list-style: none;
  margin: 0;
  padding: 0;
}
.specialoffers-list li {
  border-radius: 15px;
  box-sizing: border-box;
  margin-bottom: 40px;
  padding: 15px 20px 24px 18px;
  width: 560px;
}
.specialoffers-list h3 {
  font-size: 35px;
  font-weight: bold;
  line-height: 41px;
  margin-bottom: 16px;
  margin-top: 0;
}
.specialoffers-list p {
  margin: 0;
}
.specialoffers-button {
  display: flex;
  justify-content: flex-end;
  margin-top: 43px;
}
.offer1 {
  background-image: url("../img/raspberry-bg.jpg");
}
.offer2 {
  background-image: url("../img/chocolate-bg.jpg");
}
.about {
  background: #eddfc4 url("../img/about-bg.jpg") repeat 50%;
  border-radius: 15px;
  margin-bottom: 40px;
  padding: 25px 20px 23px;
}
.about h2 {
  font-size: 24px;
  font-weight: 500;
  line-height: 30px;
  margin: 0;
}
.about ul {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}
.about li {
  background-position: 0 7px;
  background-repeat: no-repeat;
  flex: 0 0 483px;
  min-height: 49px;
  padding: 22px 0 0 56px;
}
.about-1 {
  background-image: url("../img/feature4.svg");
}
.about-2 {
  background-image: url("../img/feature2.svg");
}
.about-3 {
  background-image: url("../img/feature3.svg");
}
.about-4 {
  background-image: url("../img/feature1.svg");
}
.media {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}
.blogpost {
  background: #ffffff url("../img/blog-bg.jpg") no-repeat 100%;
  border-radius: 15px;
  box-sizing: border-box;
  flex: 0 0 560px;
  font-size: 24px;
  font-weight: 500;
  line-height: 30px;
  min-height: 220px;
  padding: 23px 230px 23px 19px;
}
.blogpost h2 {
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
  margin: 0 0 4px;
}
.blogpost p {
  margin: 0;
}
.subscribe {
  background: #f8f7f4;
  border: 5px solid #ffffff;
  border-image: url("../img/subscribe-bg.svg") 5 repeat;
  border-radius: 15px;
  box-sizing: border-box;
  color: #5a5a5a;
  flex: 0 0 560px;
  font-size: 16px;
  line-height: 22px;
  padding: 29px 21px;
}
.subscribe p {
  margin: 0;
}
.subscribe form {
  display: flex;
  padding-top: 36px;
}
.subscribe .input {
  flex: 1;
}
.subscribe .button {
  margin-left: 11px;

  padding: 10px 19px;
}
.pagination {
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
  margin: 42px -9px 0 0;
}
.pagination ul {
  display: flex;
  justify-content: flex-end;
  list-style: none;
  margin: 0;
  padding: 0;
}
.pagination li {
  margin-left: 4px;
}
.pagination a,
.pagination .disabled,
.pagination .active {
  border-radius: 13px;
  display: block;
  min-width: 10px;
  padding: 5px 8px 3px 8px;
  text-align: center;
  text-decoration: none;
}
.pagination a:hover,
.pagination a:focus {
  background-color: rgba(255, 255, 255, 0.2);
  color: #ffffff;
}
.pagination a:active,
.pagination .active {
  color: #323232;
  background-color: #fff;
}
.pagination .disabled {
  opacity: 0.2;
}
.pagination-prev,
.pagination-next {
  background-image: url("../img/icon-left-small.svg");
  background-repeat: no-repeat;
  background-position: 50%;
  height: 18px;
  text-indent: 50px;
  overflow: hidden;
  width: 10px;
}
.pagination-next {
  background-image: url("../img/icon-right-small.svg");
}
.hit {
  background: url("../img/hit.svg");
  display: block;
  height: 61px;
  left: 0;
  overflow: hidden;
  position: absolute;
  text-indent: 61px;
  top: 0;
  width: 61px;
}
.map {
  height: 430px;
  position: relative;
  margin: 0 -27px -30px -27px;
}
.map-marker {
  display: block;
  height: 140px;
  position: absolute;
  width: 80px;
  top: 139px;
  left: 266px;
}
.map-marker img {
  display: block;
}
.map-marker::before {
  display: block;
  content: "";
  width: 182px;
  height: 110px;
  background: url("../img/map-point-shadow.png") no-repeat 0 0;
  position: absolute;
  bottom: 0;
  left: 50%;
}
.map-contacts {
  background: #ffffff;
  border-radius: 15px;
  font-size: 14px;
  line-height: 20px;
  padding: 29px 25px 30px 25px;
  position: absolute;
  top: 62px;
  right: 27px;
  width: 252px;
}
.map-contacts .big {
  display: block;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  margin-top: 1px;
}
.map-contacts p {
  margin: 0 0 19px 0;
}
.map-phone {
  display: inline-block;
  line-height: 24px;
  margin-bottom: 2px;
  margin-top: 3px;
}
.map-contacts .button {
  margin-top: 23px;
  padding-bottom: 11px;
  padding-top: 9px;
  display: block;
  text-align: center;
}
.footer {
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  padding: 36px 0;
}
.socials {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}
.socials li {
  margin-right: 11px;
}
.socials a {
  border: 3px solid rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  display: block;
  height: 32px;
  width: 32px;
}
.socials a:hover,
.socials a:focus,
.socials a:active {
  border-color: rgba(255, 255, 255, 0.7);
}
.socials a::before {
  background-position: 50%;
  background-repeat: no-repeat;
  display: block;
  content: "";
  height: 32px;
  opacity: 0.8;
  width: 32px;
}
.socials a:hover::before,
.socials a:focus::before {
  opacity: 1;
}
.socials a:active::before {
  opacity: 0.7;
}
.socials-twitter::before {
  background-image: url("../img/social-tw.svg");
}
.socials-instagram::before {
  background-image: url("../img/social-ig.svg");
}
.socials-facebook::before {
  background-image: url("../img/social-fb.svg");
}
.socials-vkontakte::before {
  background-image: url("../img/social-vk.svg");
}
.footer-nav {
  display: flex;
  font-size: 13px;
  line-height: 18px;
  margin-right: 36px;
  margin-top: -3px;
}
.footer-nav div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 31px;
}
.footer-nav a {
  margin-bottom: 4px;
}
.footer-nav .with_heart {
  font-weight: 700;
  position: relative;
}
.footer-nav .with_heart::before {
  background: url("../img/heart.svg") no-repeat 0;
  content: "";
  display: block;
  height: 13px;
  left: -22px;
  position: absolute;
  top: 2px;
  width: 15px;
}
.footer-made_in {
  font-size: 12px;
  line-height: 18px;
  padding-top: 25px;
  position: relative;
}
.footer-made_in p {
  margin: 0;
  padding: 0;
}
.footer-made_in a::before {
  content: "";
  display: block;
  background: url("../img/logo-htmlacademy-small.svg") no-repeat 0;
  height: 39px;
  left: 1px;
  position: absolute;
  top: -18px;
  width: 108px;
}
.modal {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.2);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: none;
}
.modal.shown {
  display: flex;
}
.modal-body {
  background: #f8f7f4;
  border-radius: 10px;
  margin: auto;
  position: relative;
  color: #323232;
  padding: 20px 25px 27px 25px;
  width: 458px;
}

.modal-body h2 {
  font-size: 24px;
  height: 28px;
  margin: 0 0 20px 0;
  padding: 0;
}
.modal-body form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.modal-body .input {
  margin-bottom: 20px;
}

.modal-body .input:hover,
.modal-body .input:focus,
.modal-body .input:active {
  margin-bottom: 19px;
}
.modal-body textarea.input {
  align-self: stretch;
}
.modal-body .button {
  align-self: flex-end;
}
.modal-close {
  position: absolute;
  top: 14px;
  right: 17px;
  background-color: none;
  border: none;
  margin: 0;
  padding: 0;
  width: 18px;
  height: 17px;
  background: url("../img/close.svg") no-repeat;
}
