body {
  background-color: #849d8f;
  color: #ffffff;
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 22px;
}
a {
  color: inherit;
  text-decoration: underline;
}
a:hover,
a:focus,
a:active {
  color: #ffbc9e;
}
a.td-n {
  text-decoration: none;
}
.darktext {
  color: #323232;
}
.darktext a:hover,
.darktext a:focus,
.darktext a:active {
  color: #e84d37;
}
.button {
  background-color: #e74a35;
  background-image: linear-gradient(to top, #ca3824, #f26843);
  border: none;
  border-radius: 23px;
  box-shadow: 0px 2px 2px 0 rgba(85, 8, 0, 0.54);
  color: #ffffff;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  margin: 0;
  outline: none;
  padding: 11px 24px;
  text-decoration: none;
}
.button.big {
  border-radius: 32px;
  font-size: 32px;
  line-height: 44px;
  padding: 10px 42px;
  text-shadow: 0px 2px 5px rgba(160, 32, 11, 0.76);
}
.button:hover,
.button:focus {
  background-color: #f26843;
  box-shadow: 0px 1px 2px 0 #ac1000;
  background-image: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0.2),
      rgba(255, 255, 255, 0.2)
    ),
    linear-gradient(to top, #e74a35, #f26843);
  color: #ffffff;
}
.button:active {
  background-color: #ca3824;
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.07),
      rgba(0, 0, 0, 0.07)
    ),
    linear-gradient(to bottom, #e74a35, #f26843);
  box-shadow: inset 0px 2px 2px 0 #942718;
  color: #ffffff;
}
.price span {
  font-size: 66.66%;
}
.visually-hidden {
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  position: absolute;
  width: 1px;
}
.header {
}
.header-nav-main a,
.header-nav-search > a,
.header-nav-auth > a,
.header-nav-cart > a {
  border-radius: 16px;
  color: #ffffff;
  display: block;
  font-weight: bold;
  line-height: 18px;
  padding: 7px 14px;
}
.header-nav a.active {
  background-color: #d07058;
  text-decoration: none;
}
.header-nav-main a:hover,
.header-nav-search > a:hover,
.header-nav-auth > a:hover,
.header-nav-cart > a:hover,
.header-nav-main a:focus,
.header-nav-search > a:focus,
.header-nav-auth > a:focus,
.header-nav-cart > a:focus {
  background-color: #f7f6f3;
  color: #323232;
  outline: none;
  text-decoration: none;
}

.header-nav-main a:active,
.header-nav-search > a:active,
.header-nav-auth > a:active,
.header-nav-cart > a:active {
  background-color: #ededed;
  box-shadow: inset 0px 2px 1px 0 #696969;
  text-decoration: none;
}
.header-nav > ul {
  list-style: none;
}
.header-nav-main {
}
.header-nav-user {
  font-size: 14px;
}
.header-nav-search > a {
  background: rgba(255, 255, 255, 0.2) url("../img/search.svg") no-repeat 50%;
  height: 32px;
  padding: 0;
  width: 32px;
}
.header-nav-search > a:hover,
.header-nav-search > a:focus {
  background-image: url("../img/search-hover.svg");
}
.header-nav-auth > a {
  background: rgba(255, 255, 255, 0.2) url("../img/log-in.svg") no-repeat 16px
    50%;
  text-indent: 30px;
}
.header-nav-auth > a:hover,
.header-nav-auth > a:focus {
  background-image: url("../img/log-in-hover.svg");
}
.header-nav-cart > a {
  background: rgba(255, 255, 255, 0.2) url("../img/cart.svg") no-repeat 16px 50%;
  text-indent: 30px;
}
.header-nav-cart > a:hover,
.header-nav-cart > a:focus {
  background-image: url("../img/cart-hover.svg");
}
.header-nav-cart > a.notempty {
  background-image: url("../img/cart-red.svg");
}
.schedule {
  font-size: 14px;
  font-weight: bold;
  line-height: 16px;
  text-align: right;
}
.schedule a {
  color: inherit;
  font-size: 22px;
  line-height: 24px;
  text-decoration: none;
}
.breadcrumbs {
  font-size: 14px;
  line-height: 16px;
}
.breadcrumbs ul {
  list-style: none;
}
.breadcrumbs li {
}
.breadcrumbs li:not(:first-child)::before {
  content: "\00bb";
}
.pagetitle {
  font-size: 35px;
  font-weight: 700;
  line-height: 41px;
}
.carousel {
  font-size: 60px;
  font-weight: 700;
  line-height: 60px;
  list-style: none;
}
.carousel ul {
  list-style: none;
}
.filter {
}
.filter label {
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
}
.filter select {
  -webkit-appearance: none;
  background: rgba(255, 255, 255, 0.2) url("../img/dropdown.svg") no-repeat
    right 15px top 50%;
  border: none;
  border-radius: 19px;
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
  height: 37px;
  line-height: 16px;
  padding: 0 51px 0 16px;
}
.filter select:hover,
.filter select:focus {
  background-image: url("../img/dropdown-hover.svg");
  color: #323232;
  outline: none;
}
.filter-group {
  background: rgba(255, 255, 255, 0.2);
  border: none;
  padding: 8px 17px 7px 14px;
}
.filter-group legend {
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
}
.filter-group label {
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
}
.filter-submit {
  border: none;
  border-radius: 118px;
  font-size: 16px;
  line-height: 19px;
  padding: 9px 30px;
  background: #849d8f;
  color: #ffffff;
  box-shadow: inset 0 0 0 2px #ffffff;
  font-weight: 500;
}
.filter-submit:hover,
.filter-submit:focus {
  background: #ffffff;
  color: #323232;
  outline: none;
}
.filter-submit:active {
  background: #ededed;
  box-shadow: inset 0px 2px 1px 0 #696969;
}
.category-list {
  list-style: none;
}
.category-item {
  font-size: 16px;
  line-height: 22px;
}
.category-item img {
  border-radius: 50%;
}
.category-item .price {
  font-size: 45px;
  font-weight: 700;
  line-height: 45px;
  text-shadow: 0.5px 0.9px 3px rgba(49, 50, 53, 0.5);
}
.specialoffers {
}
.specialoffers-list {
  font-size: 18px;
  font-weight: bold;
  line-height: 22px;
  list-style: none;
}
.specialoffers-list h3 {
  font-size: 35px;
  font-weight: bold;
  line-height: 41px;
}
.offer1 {
  background-image: url("../img/raspberry-bg.jpg");
}
.offer2 {
  background-image: url("../img/chocolate-bg.jpg");
}
.about {
  background: #eddfc4 url("../img/about-bg.jpg") repeat 50%;
}
.about h2 {
  font-size: 24px;
  font-weight: 500;
  line-height: 30px;
}
.about ul {
  list-style: none;
}
.about li {
  background-position: 0 0;
  background-repeat: no-repeat;
  min-height: 49px;
  padding: 17px 0 0 58px;
}
.about-1 {
  background-image: url("../img/feature4.svg");
}
.about-2 {
  background-image: url("../img/feature2.svg");
}
.about-3 {
  background-image: url("../img/feature3.svg");
}
.about-4 {
  background-image: url("../img/feature1.svg");
}
.blogpost {
  background: #ffffff url("../img/blog-bg.jpg") no-repeat 100%;
  font-size: 24px;
  font-weight: 500;
  line-height: 30px;
  min-height: 220px;
}
.blogpost h2 {
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
}
.subscribe {
  background: #f8f7f4;
  border: 5px solid #ffffff;
  border-image: url("../img/subscribe-bg.svg") 5 repeat;
  color: #5a5a5a;
  font-size: 16px;
  line-height: 22px;
}
.pagination {
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
}
.pagination ul {
  list-style: none;
}
.pagination a,
.pagination .disabled,
.pagination .active {
  border-radius: 13px;
  display: block;
  min-width: 10px;
  padding: 4px 8px;
  text-align: center;
  text-decoration: none;
}
.pagination a:hover,
.pagination a:focus {
  background-color: rgba(255, 255, 255, 0.2);
  color: #ffffff;
}
.pagination a:active,
.pagination .active {
  color: #323232;
  background-color: #fff;
}
.pagination .disabled {
  opacity: 0.2;
}
.hit {
  background: url("../img/hit.svg");
  display: block;
  height: 61px;
  overflow: hidden;
  text-indent: 61px;
  width: 61px;
}
.map-marker {
  display: block;
  height: 140px;
  width: 80px;
}
.map-contacts {
  background: #ffffff;
  font-size: 14px;
  line-height: 20px;
}
.map-contacts .big {
  display: block;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
}
.socials {
  list-style: none;
}
.socials a {
  border: 3px solid rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  display: block;
  height: 32px;
  width: 32px;
}
.socials a:hover,
.socials a:focus,
.socials a:active {
  border-color: rgba(255, 255, 255, 0.7);
}
.socials a::before {
  background-position: 50%;
  background-repeat: no-repeat;
  display: block;
  content: "";
  height: 32px;
  opacity: 0.8;
  width: 32px;
}
.socials a:hover::before,
.socials a:focus::before {
  opacity: 1;
}
.socials a:active::before {
  opacity: 0.7;
}
.socials-twitter::before {
  background-image: url("../img/social-tw.svg");
}
.socials-instagram::before {
  background-image: url("../img/social-ig.svg");
}
.socials-facebook::before {
  background-image: url("../img/social-fb.svg");
}
.socials-vkontakte::before {
  background-image: url("../img/social-vk.svg");
}
.footer-nav {
  font-size: 13px;
  line-height: 18px;
  list-style: none;
}
.footer-nav .with_heart::before {
  background: url("../img/heart.svg") no-repeat 0;
  content: "";
  display: block;
  height: 13px;
  width: 15px;
}
.footer-nav .with_heart {
  font-weight: 700;
}
.footer-made_in {
  font-size: 12px;
  line-height: 18px;
}
.footer-made_in a::before {
  content: "";
  display: block;
  background: url("../img/logo-htmlacademy-small.svg") no-repeat 0;
  height: 39px;
  width: 108px;
}
